{# templates/home.html.twig #}
{% extends "base.html.twig" %}
{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Nos produits phares</h1>

		<div class="row">
			{% for product in products %}

				<div class="col">
					{% include "components/_cardProduct.html.twig" %}
				</div>
			{% endfor %}
		</div>
		<hr>
		<h2>Un service irreprochable</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, deserunt.</p>

		<div class="row">
			{% include "shared/_assurance.html.twig" with {
			"color":"primary",
			"icon":"fas fa-truck",
			"text": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque laboriosam tempora saepe! Aspernatur, cum accusamus.", 

		} %}
			{% include "shared/_assurance.html.twig" with {
			"color":"primary",
			"icon":"fas fa-check",
			"text": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque laboriosam tempora saepe! Aspernatur, cum accusamus.", 

		} %}
			{% include "shared/_assurance.html.twig" with {
			"color":"warning",
			"icon":"fas fa-truck",
			"text": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque laboriosam tempora saepe! Aspernatur, cum accusamus.", 

		} %}
			{% include "shared/_assurance.html.twig" with {
			"color":"danger",
			"icon":"fas fa-lock",
			"text": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque laboriosam tempora saepe! Aspernatur, cum accusamus.", 

		} %}
		</div>

	</div>
{% endblock %}
