<div class="col">
	<div class="card bg-{{color}} text-white text-center">
		<div class="card-body">
			<i class="{{icon}} fa-2x">
				<div class="card-text">
					{{text}}
				</div>
			</i>
		</div>
	</div>
</div>
